html,
body,
.banner,
.banner .container-fluid,
.banner .carousel-inner,
.banner .carousel-inner .item,
.banner .carousel-inner .item img{
    height: 100%;
}
.banner .container-fluid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 880px ) {
    .banner .title {
        display: block;
    }
    .banner .title h1,
    .banner .title h2 {
        max-width: 100% !important;
        text-align: center;
    }

    .banner .title .btn-home {
        margin: auto;
    }
}