.title h1 {
    text-align: left;
    font-size: 35px;
    text-transform: none;
    max-width: 40%;
    font-weight: bold;
    margin-top: 160px;
}

.title h2 {
    text-align: left;
    font-size: 20px;
    text-transform: none;
    max-width: 25%;
    font-weight: normal;
}
#carousel_banner .item img{
    position: absolute;
}
hr {
    display: none;
}
.btn-home {
    display: block;
    background: none;
    color: #fff;
    border: 1px solid;
    border-radius: 0px;
    margin-top: 30px;
    text-transform: uppercase;
}

.btn-home:hover {
    color: #fff;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.testimonial .carousel-inner {
    margin-left: 56px;
}

.testimonial .slide {
    margin-top: 50px;
}

.testimonial .carousel-control {
    font-size: 100px;
}

.testimonial .left {
    top: -30px;
    margin-top: 0;
    margin-left: 0;
    left: -60px;
}

.testimonial .right {
    top: -30px;
    margin-top: 0;
    margin-left: 0;
    right: -60px;
}

.panel {
    background: none;
}

@media screen and (max-width: 1800px ) {

    .testimonial .carousel-inner {
        margin-left: 25px;
    }

    .title h1 {
        text-align: left;
        font-size: 35px;
        text-transform: none;
        max-width: 40%;
        font-weight: bold;
        margin-top: 30px;
    }

}

@media screen and (max-width: 1300px ) {

    .testimonial .carousel-inner {
        margin-left: 25px;
    }

    .title h1 {
        text-align: left;
        font-size: 35px;
        text-transform: none;
        max-width: 40%;
        font-weight: bold;
        margin-top: 30px;
    }

    .container.title h1 {
        font-size: 27px;
    }

    .container.title h2 {
        text-align: left;
        font-size: 20px;
        text-transform: none;
        max-width: 49%;
        font-weight: normal;
    }

}

@media screen and (max-width: 1000px ) {
    .testimonial .carousel-inner .item {
        margin-right: -60px;
    }

}

@media screen and (max-width: 880px ) {

    .testimonial .right {
        top: -30px;
        margin-top: 0;
        margin-left: 0;
        right: 0px;
    }

    .testimonial .carousel-inner {
        margin-left: 17px;
    }

    .testimonial .carousel-inner .item img {
        width: 100px;
    }

    .testimonial .carousel-inner .item {
        margin-right: -74px;
    }

    .container.title h1 {
        margin-top: 10px;
        font-size: 25px;
    }

    .container.title h2 {
        font-size: 16px;
        max-width: 300px;
    }

}

@media screen and (max-width: 550px ) {

    .testimonial {
        display: none;
    }

}