@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900|Ubuntu:400,300,500);

a:link{
    text-decoration: none;
}
body, body h1, body h2 {
    font-family: 'Lato', sans-serif;
}

body p {
    font-size: 16px;
}

h1, h2 {
    font-weight: bold;
}
hr {
    width: 20%;
}
a {
    outline: 0 !important;
}

.hive {
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 1000;
    pointer-events: none;
}
.gap {
    height: 30px;
    margin: 0;
    padding: 0;
}

.banner img {
    width: 100%;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 1;
}
.header .container-fluid{
    border-bottom: 1px solid #4773a4;
}
.header .navbar{
    margin: 0;
}

.navbar-default .nav-header > .active > a,
.navbar-default .nav-header > .active > a:hover,
.navbar-default .nav-header > .active > a:focus {
    color: #000;
    background: none;
    border: 0;
    box-shadow: none;
    border-bottom: 3px solid #a11916;
    margin-bottom: -2px !important;
}

.nav-header .open>a{
    background: none !important;
    box-shadow: none !important;
}
.client-grid {
    margin-bottom: 140px;
}

.client-grid .item {
    margin-bottom: 20px;
}

.header .nav-header {
    padding: 10px 0 0;
    text-transform: uppercase;
    margin-top: 10px;
}

.nav-header li a {
    padding: 24px 20px;

}

.header .navbar-default {
    background: none;
    border: none;
    box-shadow: none;
}
.header .language {
    position: absolute;
    right: 0;
    top: 40px;
}

.header .language > li > a {
    padding: 3px 5px;
}
.category {
    background-size: cover;
    background-image: url('../img/home/banner-2.jpg');
    background-position: center center;
    color: #4773a4;
}

.category h2 {
    margin-top: 85px;
}

.category p:last-child, .category img {
    margin-bottom: 100px;

}
.category a>img.on,
.category a>img.off {
    margin-left: -2px;
    margin-right: -2px;
}
.category a>img.off {
    display: inline;
}
.category a:hover>img.off{
    display: none;
}
.category a>img.on {
    display: none;
}
.category a:hover>img.on{
    display: inline;
}

.testimonial {
    background-color: #4773a4;
    color: #fff;
}

.testimonial h2 {
    margin-top: 60px;
}

.testimonial p {
    font-size: 18px;
}

.testimonial h5:before, .testimonial h5:after {
    content: " - ";
}

.testimonial h5 {
    margin: 20px 0 40px;

}

.btn-home {
    display: none;
}

.category img {
    display: inline;
}
.service p,.service h2,.service h3,.service .list{
    color: #fff;
}
.service h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
}
.service .list{
    padding-left: 20px;
}
.service h3{
    font-size: 40px;
}
.service .iten a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.title h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.container-fluid.products {
    background-color: #f0f0f3 ;
}

.container-fluid.products h2:first-child, .management h2:first-child, .refund h2:first-child, .refund p:first-child, .container-curriculum h2 {
    margin: 65px 0;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.breadcrumb {
    margin: 5px;
    background: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.breadcrumb .active{
    color:#00afde;
}
.container-fluid.logistic-gde {
    background-size: cover;
    background-image: url('../img/products/bg2-logistic.jpg');
    background-position: right bottom;
}
.logistic-gde .border-breadcrumb{
    margin-bottom: 80px;
}
.logistic-gde h2 {
     font-weight: normal;
 }
.logistic{
    background-size: cover;
    background-image: url('../img/products/bg2-logistic.jpg');
    background-position: center top;
}
.logistic-gde h2, .financial h2{
    margin-top: 40px;
    color: #252a4e;

 }
.bg-financial{
    background-size: cover;
    background-image: url('../img/products/bg-financial.jpg');
    background-position: right bottom;
}
.logistic-gde h2{
    font-size: 40px;
}
.logistic-gde p,.logistic-gde h5{
    color: #636363;
}
.logistic .iten{
    margin-bottom: 65px;
}
.logistic-bg{
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.bg-submenu{
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.bg-submenu-fin{
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.bg-submenu .nav-list .active {
     background: none;
}
.logistic .nav-list .active {
    background: none;
}
.intelligence{
    background-size: cover;
    background-image: url('../img/products/intelligence-banner1.jpg');
    background-position: center bottom;
}
.intelligence a{
    text-transform: uppercase;
    color:#00afde;
    font-weight: bold;
}
.intelligence h2{
    color: #252a4e;
}
.intelligence h3{
    font-size: 40px;
    color: #252a4e;
    margin-top: 0px;
}

.service{
    background-size: cover;
    background-image: url('../img/products/services-bg1.jpg');
    background-position: center top;
}
.units img {
    width: 100%
}

.popover {
    background-color: #7EDBEC;
    max-width: 340px;
}

.popover.right > .arrow:after {
    border-right-color: #7EDBEC;
}

.popover-content {
    padding: 30px 35px;
}

.breadcrumb > li + li:before {
    content: "›";
}

.more:before {
    content: "› ";
}

.pin-eua .fa-map-marker, .pin-sp .fa-map-marker, .pin-1 .fa-map-marker, .pin-2 .fa-map-marker, .pin-3 .fa-map-marker,.pin-rs .fa-map-marker {
    font-size: 22px;
    color: #7EDBEC;
}

.pin-eua .fa-map-marker:hover, .pin-sp .fa-map-marker:hover, .pin-1 .fa-map-marker:hover, .pin-2 .fa-map-marker:hover, .pin-3 .fa-map-marker:hover,.pin-rs .fa-map-marker:hover {
    color: #fff;
}

.pin-eua {
    position: absolute;
    margin-left: 194px;
    margin-top: 219px;
}
.pin-rs {
    position: absolute;
    margin-left: 316px;
    margin-top: 528px;

}
.pin-sp {
    margin-left: 328px;
    margin-top: 507px;
    position: absolute;
}

.pin-1 {
    margin-left: 310px;
    margin-top: 505px;
    position: absolute;
}

.pin-2 {
    position: absolute;
    margin-left: 320px;
    margin-top: 486px;
}

.pin-3 {
    position: absolute;
    margin-left: 336px;
    margin-top: 487px;
}

.breadcrumb li:last-child {

    font-weight: bold;
}

.border-breadcrumb {
    border-bottom: 1px solid #d3d3d3;
}

.list .item:last-child,.list-gde .item:last-child {
    margin-bottom: 65px;
}

.list .item + .item .box {
    border-top: 1px solid #b8b9b7;
    margin-top: 30px;
}

.list,.list-gde {
    margin-bottom: 10px;
}

.list h3,.list-gde h3 {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #00afde;
    font-weight: bold;
    text-transform: uppercase;
}
.list-gde .item h5{
    font-weight: bold;
}

.list ,.list-gde p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.list a, .midia a, .releases a,.list-gde a {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #636363;
    display: block;
}

.releases .box a {
    padding-bottom: 30px;
}

.midia {
    margin-bottom: 90px;
}

.midia .box {
    background-color: #eae8e3;
    padding-bottom: 20px;
}

.midia .col-md-3 {
    width: 33.33333%;
}

.midia .box h4,
.midia .box p,
.midia .box a {
    margin-left: 14px;
    margin-right: 14px;
}

.midia .box h4, .midia p, .releases h1, .releases p {
    font-style: italic;
}

.midia h4 {
    font-size: 18px;
    margin: 30px 0;
}

.midia p {
    border-bottom: 20px;
}

.products h1 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.management h2,.refund h2 {
    color: #252a4e;
}

.management p, .refund p,.supplier p, .slips p {
    color: #636363;
}

.grid {
    margin-top: 40px;
    margin-bottom: 65px;
}

.grid h4 {
    font-weight: bold;
    color: #636363;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


.refund p:last-child, .container-culture p:last-child {
    margin-bottom: 100px;
}
.supplier h2:first-child {
    margin-top: 50px;
    color: #2383c0;
    font-weight: bold;
}

.supplier h2 span {
    color: #004062;
}

.supplier p:last-child {
    margin-bottom: 100px;
}

.slips h2:first-child {
    margin-top: 50px;
    color: #a1131c;
    font-weight: bold;
}

.slips h2 span {
    color: #721019;
}

.slips p:last-child {
    margin-bottom: 100px;
}

.container-fluid.clients, .container-fluid.press {
    background-color: #f4f4f4;
    color: #252a4e;
}

.container-fluid.clients h2, .container-fluid.press h2 {
    font-size: 35px;
    margin: 65px 0 50px 0;
    font-weight: bold;
}

.press h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.press .contact span {
    color: #00afde;
}

.press .contact .list-group-item {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background: none;
    border: 0px;
    font-size: 16px;
}

.press .contact h4 {
    text-transform: uppercase;
    margin: 40px 0;
}

.press .contact {
    margin-bottom: 80px;
}

.press .list-group {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
}

.container-fluid.contact {
    background-color: #f4f4f4;
    color: #636363;
}

.contact .text p:first-child {
    margin-top: 70px;
}

.contact .submit {
    color: #00afde;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 60px;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.15), 0 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.15), 0 0 0 rgba(0, 0, 0, 0.075);
}

.contact .submit:active {
    color: #00afde;
    background: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 60px;
}

.contact button:after {
    content: " ›";
    font-size: 20px;
}

.contact label {
    text-transform: uppercase;
}

.contact option {
    text-transform: uppercase;
    color: #00afde;
}

.contact .reason {
    text-transform: uppercase;
    color: #00afde;
}

.contact input, .contact .reason, .contact textarea {
    background-color: #f4f4f4;
}

.support li {
    list-style: none;

}

.support li p:first-child {
    font-weight: bold;
}

.support li p:last-child {
    margin-bottom: 40px;
}

.support h6 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}

.support {
    margin-bottom: 50px;
}

.releases .col-md-12:nth-child(even) .box {
    background-color: #dcd6c9
}

.releases .col-md-12:nth-child(odd) .box {
    background-color: #eae8e3
}

.releases .box {
    margin-bottom: 10px;
    padding: 10px;
}

.clients p:last-child {
    margin-bottom: 50px;
}

.header .navbar-default .navbar-nav > li > a {
    font-weight: bold;
    color: #000;
}

.header .navbar-default .navbar-nav > li > a:hover {
    color: #a02426;
}

.title {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.title h1 {
    margin: 10px 0 10px;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}
.banner .title h1.animate,
.banner .title h2.animate {
    opacity: 0;
    -webkit-transition: 1s ease-in-out; /* Safari */
    transition: 1s ease-in-out;
    margin-left: -100px;
}
.banner .title h1.start,
.banner .title h2.start{
    opacity: 1;
    margin-left: 0;
}


.who-we, .fortress, .ecology, .units {
    background-size: cover;
    color: #fff;
}

.who-we {
    background-image: url('../img/institutional/banner-2.jpg');
    background-position: bottom right;
}

.who-we h2 {
    margin-top: 60px;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.who-we p {
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

.who-we p:last-child, .fortress a, .ecology a {
    margin-bottom: 40px;
    display: block;
}

.fortress {
    background-image: url('../img/institutional/banner-3.jpg');
    background-position: center top;
}

.fortress h2 {
    margin-top: 160px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.fortress p {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.fortress a {
    color: #00afde;
    text-decoration: none;
    font-weight: bold;
}

.ecology {
    background-image: url('../img/institutional/banner-4.jpg');
    background-position: bottom center;
}

.ecology h2 {
    margin-top: 195px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.ecology p {
    margin-top: 30px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.ecology a {
    color: #00afde;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

.units {
    background-color: #34495e;
}

.units h2 {
    margin-top: 135px;
    font-size: 35px;
    font-weight: bold;
}

.units p {
    margin-top: 30px;
    font-size: 18px;
}

.units a {
    color: #00afde;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

.shape {
    width: 135px;
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 0;
}

.container-career {
    background-size: cover;
    background-image: url('../img/career/banner-2.jpg');
    background-position: center top;
    color: #191934;
}

.carousel-inner img {
    cursor: pointer;
}

.container-development .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;

}
.container-development {
    background-size: cover;
    background-image: url('../img/career/banner-3.jpg');
    background-position: center top;
    color: #191934;
}

/* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
}

.container-development .nav-tabs li a {
    color: #000;
}

.container-development .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
    border: 0px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
    font-size: 20px;
    padding: 10px 15px;
    color: #00afde;
}

.container-development .tabs-left > .nav-tabs > li {
    border: 1px solid;
    border-left: none;
    border-right: none;
    font-size: 20px;
}

.container-development .tabs {
    padding-bottom: 100px;
}

.container-development .tabs-left:hover > .nav-tabs > li a:hover {
    float: none;
    background: none;
    border: 0px solid #dddddd;

}

.container-development h2:first-child,.container-career h2:first-child {
    margin: 100px 0 57px;
}

.container-development .active a:after {
    content: " ›";
    font-size: 25px;

}

.container-culture {
    background-size: cover;
    background-image: url('../img/career/banner-4.jpg');
    background-position: center top;
    color: #fff;
}

.container-culture h4 {
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
}

.container-culture h2 {
    font-size: 40px;
}

.container-curriculum {
    background-color: #34495e;
    color: #fff;
}

.container-curriculum a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.container-curriculum .socials {
    margin: 50px 0 100px
}

.container-career h2:first-child {
    margin: 115px 0 50px;
}
.container-career p:last-child {
    margin-bottom: 50px;
}
.logo {
    padding: 10px;
}
.logo img {
    margin-right: 40px;
}
.nav-list li {
    margin-top: 10px;
    border: 1px solid #00afde;
    background: #00afde;
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 5px 16px;
    display: block;
}

.nav-list .active {

    background: none;
}

.nav-list .active a {
    color: #00afde;

}

.btn {
    padding: 10px 30px;
    margin-top: 20px;

}

.btn, .nav-footer {
    font-family: 'Lato', sans-serif;
}

.footer {
    background-color: #282e3b;
    font-family: 'Ubuntu', sans-serif;
}

.footer .btn {
    background-color: #9099b0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border-radius: 25px;
    text-transform: uppercase;
}

.footer-1 {
    background-color: #171b24;
}

.footer p, .footer-1 p {
    color: #9099b0;
}

.footer-1 ul {
    text-transform: uppercase;
}

.nav-footer > li.active > a, .nav-footer > li.active > a:hover, .nav-footer > li.active > a:focus {
    color: #00afde;
    background-color: #171b24;
}

.nav-footer > li.active > a, .nav-footer > li.active > a:hover, .nav-footer > li.active > a:focus {
    color: #ffffff;
    background-color: #171b24;
}

.nav-footer > li > a:hover, .nav-footer > li > a:focus {
    text-decoration: none;
    background-color: #171b24;
}

.nav-footer > li > a {
    position: relative;
    display: block;
    padding: 0px 10px;
    color: #9099b0;
}

.nav-footer > li > a:hover {
    color: #fff;
}

.local p {
    font-size: 20px;
    vertical-align: text-top;
    margin-top: 5px;

}

.local img {
    width: 40px;
}
