@media screen and (max-width: 1700px ) {
    .hive{
        display: none;
    }
    .title {
        margin-top: 130px;
    }

}

@media screen and (max-width: 1300px ) {

    .title {
        margin-top: 130px;
    }
    .container.title h1 {
        font-size: 45px;
    }
    .container.title h2 {
        font-size: 35px;
    }

}

@media screen and (max-width: 1200px ) {
    .header .container-fluid {
        border: none;
    }
    .address{
        text-align: center;
    }
    .toggle-header{
        margin-top: 10px;
    }
    .header .title{
       margin-top:0px;
    }
    .logo img {
        margin: 0px;

    }
    .header{
        padding: 0;
        width: 100%;
        position: relative;
    }
    .footer-1 p{
        text-align: center;
    }
    .nav-header li a {
        padding: 24px 6px;
    }
    .title {
       margin-top: 35px;
    }
    .container.title h1 {
        font-size: 35px;
    }
    .nav-footer {
        font-size: 11px;
        padding-left: 30px;
    }
    .midia a,.releases .box a{
        padding-bottom: 35px;
    }
    h1{
        font-size: 22px;

    }
    .midia {
        margin-bottom: 0px;
    }
    .support {
       margin-bottom: 0px;
    }
    .midia .col-md-3 {
        width: 100%;
    }
    .midia .box{
        margin-bottom: 50px;
    }
    .pin-eua {
        position: absolute;
        margin-left: 159px;
        margin-top: 178px;
    }
    .pin-sp {
        margin-left: 270px;
        margin-top: 421px;
        position: absolute;
    }
    .pin-1 {
        margin-left: 255px;
        margin-top: 418px;
        position: absolute;
    }
    .pin-2{
        position: absolute;
        margin-left: 262px;
        margin-top: 400px;
    }
    .pin-3 {
        position: absolute;
        margin-left: 277px;
        margin-top: 403px;
    }
    .pin-rs {
        position: absolute;
        margin-left: 261px;
        margin-top: 436px;
    }
}
@media screen and (max-width: 989px ) {
    .pin-eua .fa-map-marker, .pin-sp .fa-map-marker, .pin-1 .fa-map-marker, .pin-2 .fa-map-marker, .pin-3 .fa-map-marker,.pin-rs .fa-map-marker {
        font-size: 16px;
        color: #7EDBEC;
    }
    .pin-sp {
        margin-left: 207px;
        margin-top: 318px;
        position: absolute;
    }
    .pin-eua {
        position: absolute;
        margin-left: 122px;
        margin-top: 132px;
    }
    .pin-1 {
        margin-left: 195px;
        margin-top: 316px;
        position: absolute;
    }
    .pin-2 {
        position: absolute;
        margin-left: 202px;
        margin-top: 303px;
    }
    .pin-3 {
         position: absolute;
         margin-left: 212px;
         margin-top: 303px;
     }
    .pin-rs {
        position: absolute;
        margin-left: 200px;
        margin-top: 328px;
    }
}

    @media screen and (max-width: 780px ) {
        .p-responsive,.pin-units{
            display: none;
        }
        .header .navbar-default .navbar-toggle {
               margin-bottom: 32px;
        }
        .development .tabbable.tabs-left {
            text-align: center;
        }
        .ecology h2, .units h2,.fortress h2 {
            margin-top: 70px;

        }

    }

@media screen and (max-width: 800px ) {


    .header{
        position: relative;
    }
    .header .navbar-default {
        background: white;
        z-index: 100;
        box-shadow:none;
        }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    .title{
     display: none;
    }
    .nav-list{
        margin-left: -15px;
        margin-right: -15px;
    }
    .nav-list li{
        width: 100%;

    }
      h1,h2,h3{
        text-align: center;
    }
    .midia {
        margin-bottom: 0px;
    }
    .press .contact{
        text-align: center;
    }
    .midia .col-md-3 {
        width: 100%;
    }
    .development .tabs-left > .nav-tabs {
        float: none;
        margin-right: 19px;
        text-align: center;
    }
    .development .tabs-left > .nav-tabs > li {
        border: none;
        border-left: none;
        border-right: none;
        font-size: 20px;
    }
    .nav-tabs {
        border:none;
    }
    .development .active a:after {
        content: "";
        font-size: 25px;
    }

}
@media screen and (max-width: 650px) {
    .nav-footer {
       display: none;
    }
    .products h2:first-child, .management h2:first-child, .refund h2:first-child, .refund p:first-child, .curriculum h2 {
        margin: 65px 0;
        font-size: 28px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
}
@media screen and (max-width: 328px) {
    .logo {
        padding:0;
    }

}


