/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.banner .title{
    color: #000
}
.banner hr {
    border-color:#000 ;
}

.midia .list-inline li{
    width: 33%;
    vertical-align: top;
    margin-bottom: 32px;
}
@media screen and (max-width: 800px ) {
    .midia .list-inline li{
        width: 100%;
    }
}