.breadcrumb-rack {
    border-bottom: 1px solid #cccccf;
}
.container-main {
    background-image: url('../img/products/hr_bg.jpg');
    background-position: bottom left;
    background-size: cover;
    padding: 30px 0;
}
.container-main a {
    text-transform: uppercase;
    color: #00afde;
    font-weight: bold;
}
.container-main h2,
.container-main h3 {
    font-weight: normal;
    font-size: 40px;
    color: #252a4e;
}
.container-main h4{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #252a4e;
}
.container-main .payroll {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.container-main h3 {
    margin-top: 0;
}
p{
    color: #636363;
}