.container-main {
    background-image: url('../img/products/sysdoctor_bg.jpg');
    background-position: top right;
    background-size: cover;
    padding: 30px 0;
}

.box-functions {
    border: 1px solid #00afde;
    padding: 30px;
}

.box-functions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.box-functions li {
    padding-left: 1em;
    text-indent: -.7em;
}
.box-functions li:before {
    content: "• ";
    color: #00afde;
}
.container-main a{
    color: #484b65;
    font-weight: bold;
}
h3
{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #252a4e;
}
