.list-gde h5 {
    font-size: 20px;
}
.more {
    text-transform: uppercase;
    color: #00afde;
    font-weight: bold;
}
.more:hover {
    text-transform: uppercase;
    color: #00afde;
    font-weight: bold;
}
.list a, .midia a, .releases a, .list-gde a {
    font-size: 17px;
    /* font-family: 'Lato', sans-serif; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* text-decoration: none; */
    color: #636363;
    display:inline;
    text-transform: none;
}